@tailwind base;
@tailwind components;
@tailwind utilities;

.pinyon {
  font-family: var(--font-pinyon-script);
}

.bodoni {
  font-family: var(--font-bodoni-moda);
}

.openSans {
  font-family: var(--font-open-sans);
}

.playfair {
  font-family: var(--font-playfair-display);
}

.instrument {
  font-family: var(--font-instrument-serif);
}

.helvetica {
  font-family: "Helvetica", "Arial", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}
