@tailwind base;
@tailwind components;
@tailwind utilities;

.pinyon {
  font-family: var(--font-pinyon-script);
}

.bodoni {
  font-family: var(--font-bodoni-moda);
}

.openSans {
  font-family: var(--font-open-sans);
}
